* {
  padding: 0px;
  margin: 0px;
}
.home-hero-image {
  height: 100vh;
  background: url(./assets/images/HomeHeroImage.png);
  background-size: cover;
  background-position: center;
}
.search-bar {
  background-color: white;
}
.navbar {
  background-color: black;
}
.content {
  height: 100%;
}
